@using MVC_Blog.Classes
@{
    ViewBag.Title = "Home Page";
}

@model List<MVC_Blog.Models.Post>

<section class="row">
    <h2 class="col-md-12">Най-нови публикации</h2>
    @foreach (var post in Model)
    {
        <article class="post col-md-4">
            <h2 class="title"><a href="/Posts/Details/@post.Id">@Utils.CutText(post.Title, 30)</a>
            </h2>
            <div class="about">Публикувано
                @if (post.Author != null)
                {
                    @:от <i>@post.Author.FullName (@post.Author.UserName)</i>
                }
                else
                {
                    @:ot <i>анонимен</i>

                }
                на <i>@post.Date</i> в категория <strong><i>@post.Topic.Name.ToUpper()</i></strong>
            </div>
            <div class="body-content">@Html.Raw(Utils.CutText(post.Body))</div>
        </article>
    }
</section>

<section class="row">
    <h2 class="col-md-12">Най-коментирани публикации</h2>
    @foreach (var post in ViewBag.MostCommentedPosts)
    {
        <article class="post col-md-4">
            <h2 class="title">
                <a href="/Posts/Details/@post.Id">@Utils.CutText(post.Title, 50)</a>
            </h2>
            <div class="about">
                Публикувано
                @if (post.Author != null)
                {
                    @:от <i>@post.Author.FullName (@post.Author.UserName)</i>
                }
                else
                {
                    @:ot <i>анонимен</i>


                }
                на <i>@post.Date</i> в категория <strong><i>@post.Topic.Name.ToUpper()</i></strong>
            </div>
            <div class="body-content">@Html.Raw(Utils.CutText(post.Body))</div>
        </article>
    }

</section>
