@model MVC_Blog.Models.Post

@{
    ViewBag.Title = "Детайли";
}

<h2>Детайли</h2>

<div>
    <h4>Статия</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author.FullName)
        </dt>

        <dd>
           @Html.DisplayFor(model => model.Author.FullName) (@Html.DisplayFor(model => model.Author.UserName))
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>

<p>
    @if (User.IsInRole("Administrators"))
    {
        @Html.ActionLink("Редакция", "Edit", new {id = Model.Id})
        @:|
    }
    @Html.ActionLink("Обратно към списъка със статиите", "Index")
</p>


@if (Model.Tags.Count > 0)
{

    <h3>Тагове:</h3>

    
        foreach(var tag in ViewBag.Tags)
        {
            <span>@tag.Name; </span>
        }
    
}

@if (Model.Comments.Count > 0)
{

    <h3>Коментари:</h3>

    <table class="table">
        <tr>
            <th>Коментар</th>
            <th>Автор</th>
            <th>Дата</th>
        </tr>
        @foreach (var com in ViewBag.Comments)
        {
            <tr>
                <td>@com.Text</td>
                <td>@com.Author.FullName</td>
                <td>@com.Date</td>
            </tr>
        }
    </table>
}
